@import '~antd/dist/antd.css';

.name {
  color: black;
  font-size: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  text-align: center;
  background-color: lightblue;
}
